*.dta filter=lfs diff=lfs merge=lfs -text
data/census.dta filter=lfs diff=lfs merge=lfs -text
data/Census[[:space:]]Pilot[[:space:]]05.08.2016.dta filter=lfs diff=lfs merge=lfs -text
data/Cluster[[:space:]]Survey[[:space:]]26.07.2016.dta filter=lfs diff=lfs merge=lfs -text
data/Cluster[[:space:]]Survey[[:space:]]27.07.2016.dta filter=lfs diff=lfs merge=lfs -text
data/cluster_survey_v1.dta filter=lfs diff=lfs merge=lfs -text
data/Cluster[[:space:]]Survey[[:space:]]V1.dta filter=lfs diff=lfs merge=lfs -text
data/Missing[[:space:]]GPS[[:space:]]data.dta filter=lfs diff=lfs merge=lfs -text
data/takeup_gps_255_306_360.dta filter=lfs diff=lfs merge=lfs -text
data/takeup_senitization_mon_0926.dta filter=lfs diff=lfs merge=lfs -text
data/takeup_processed_cluster_strat.rds filter=lfs diff=lfs merge=lfs -text
box_archive.zip filter=lfs diff=lfs merge=lfs -text
data/prepared_fast_sim.RData filter=lfs diff=lfs merge=lfs -text
stanfit/wtp_model_2_5.csv filter=lfs diff=lfs merge=lfs -text
stanfit/wtp_model_5.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_7_8.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_9_4.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_2_3.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_1_12_3.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_7_6.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_1_4.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_2_1.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_2_7.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_4_8.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_5_3.csv filter=lfs diff=lfs merge=lfs -text
stanfit/test_model_mix_1.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_1_6.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_9_1.csv filter=lfs diff=lfs merge=lfs -text
stanfit/wtp_model_2_8.csv filter=lfs diff=lfs merge=lfs -text
stanfit/wtp_model_3.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_9_7.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_5_2.csv filter=lfs diff=lfs merge=lfs -text
stanfit/wtp_model_2_6.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_1_13_1.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_1_13_4.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_9_2.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_5_1.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_5_6.csv filter=lfs diff=lfs merge=lfs -text
stanfit/wtp_model_2_7.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_8_3.csv filter=lfs diff=lfs merge=lfs -text
stanfit/test_model_mix_3.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_1_13_6.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_1_3.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_7_7.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_9_5.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_1_12_6.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_4_7.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_5_4.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_8_1.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_9_3.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_3_7.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_3_8.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_4_1.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_8_7.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_8_8.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_3_5.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_debug.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_1_13_3.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_2_5.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_4_2.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_1_2.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_8_4.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_5_8.csv filter=lfs diff=lfs merge=lfs -text
stanfit/test_model_mix_2.csv filter=lfs diff=lfs merge=lfs -text
stanfit/wtp_model_1.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_1_13_2.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_1_4.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_5_5.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_1_12_1.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_7_4.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_1_12_5.csv filter=lfs diff=lfs merge=lfs -text
stanfit/wtp_model_2_2.csv filter=lfs diff=lfs merge=lfs -text
stanfit/wtp_model_2_3.csv filter=lfs diff=lfs merge=lfs -text
stanfit/wtp_model_2.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_8_6.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_2_8.csv filter=lfs diff=lfs merge=lfs -text
stanfit/wtp_model_8.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_1_12_7.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_1_7.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_1_12_8.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_1_13_7.csv filter=lfs diff=lfs merge=lfs -text
stanfit/wtp_model_7.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_3_1.csv filter=lfs diff=lfs merge=lfs -text
stanfit/wtp_model_6.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_2_4.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_2_6.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_3_6.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_4_3.csv filter=lfs diff=lfs merge=lfs -text
stanfit/wtp_model_4.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_7_1.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_3_2.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_debug_2.csv filter=lfs diff=lfs merge=lfs -text
stanfit/wtp_model_2_4.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_7_2.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_3_4.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_5_7.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_1_12_2.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_1_5.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_7_3.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_1_2.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_1_13_5.csv filter=lfs diff=lfs merge=lfs -text
stanfit/test_model_mix_4.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_4_5.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_8_2.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_8_5.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_1_1.csv filter=lfs diff=lfs merge=lfs -text
stanfit/wtp_model_2_1.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_1_1.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_9_8.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_1_5.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_2_2.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_3_3.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_4_6.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_7_5.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_1_3.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_4_4.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_1_7.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_1_8.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_1_12_4.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_1_8.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_debug_1.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_1_13_8.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_9_6.csv filter=lfs diff=lfs merge=lfs -text
stanfit/basic_model_2_simple_centered_1_6.csv filter=lfs diff=lfs merge=lfs -text
stanfit/model_3_param_sms_ctrl_3_1.csv filter=lfs diff=lfs merge=lfs -text
stanfit/model_3_param_sms_ctrl_3_2.csv filter=lfs diff=lfs merge=lfs -text
stanfit/model_3_param_sms_ctrl_3_3.csv filter=lfs diff=lfs merge=lfs -text
stanfit/model_3_param_sms_ctrl_3_4.csv filter=lfs diff=lfs merge=lfs -text
